---
# Introdução

#### Esse notebook faz parte do curso "[Introduction to Data Science in Python da Universidade de Michigan](https://www.coursera.org/learn/python-data-analysis/home/welcome)".


Nessa atividade (Assigment 4 - Statistical Analysis in Python), devemos realizar um teste de hipótese se as cidades universitárias (EUA) têm seus os preços médios de residências menos afetados durante recessões.

As questões estão separadas por funções, e os comentários e discussões sobre a resolução de cada questão se encontram em _markdown_ logo acima de cada questão, de maneira didática.

---

---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [26]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

---

## Certo! Temos algumas definições dadas pelo problema: 
- um *quarter* (trimestre) corresponde a um período de 3 meses:
    - Q1 é de janeiro a março
    - Q2 é de abril a junho
    - Q3 é de julho a setembro
    - Q4 é de outubro a dezembro
    
- uma *recession* (recessão) corresponde a começar com 2 trimestres consecutivos de GDP (PIB) e com trimestre final em ascenção de PIB.

- uma *recession bottom* é o trimestre que obteve o menor PIB da recessão.

- uma *university town* (cidade universitária) é uma cidade que possui maior porcentagem de universitários comparada com a população da cidade.

## O conjunto de dados:

1. No Zillow.com, existem dados de moradia para os Estados Unidos. Em particular, o arquivo de dados de todas as residências no nível da cidade, esse arquivo (`City_Zhvi_AllHomes.csv`) tem preços médios de venda de residências em um nível refinado.  

2. Na página da Wikipedia sobre cidades universitárias, há uma lista de cidades universitárias nos Estados Unidos que foram copiadas e coladas no arquivo `university_towns.txt`. 

3. Do Bureau of Economic Analysis, Departamento de Comércio dos EUA, as horas extras do PIB dos Estados Unidos em dólares correntes, em intervalos trimestrais, no arquivo `gdplev.xls`.

## Hipótese: 

As cidades universitárias têm seus preços médios de moradia menos afetados pelas recessões. Faça um teste t para comparar a proporção do preço médio das casas nas cidades universitárias no trimestre anterior ao início da recessão, em comparação com o nível mais baixo da recessão. (price_ratio = quarter_before_recession / recession_bottom)

# E vamos para nossa primeira questão: Retornar uma lista contendo todas as cidades universitárias

`university_towns` trata-se de um ``.txt`` que tem o formato de Estado [editar]  Nome da cidade  Nome da universidade (Número) - Nome da cidade - Nome da universidade (Número). Portanto, a primeira tarefa é obter um _dataframe_ contendo o nome do estado e as Cidades da Universidade nesse estado.

### Algumas dicas para limpar os dados:

1. Para "State", remova os caracteres de "[" até o fim.

2. Para "RegionName", quando aplicável, remova todos os caracteres de "(" até o final.

3. Dependendo de como você lê os dados, pode ser necessário remover o caractere de nova linha '\ n'.

Pode haver alguns RegionNames na lista que não correspondam bem às cidades reais, mas não se preocupe em fazer algo especial para essas entradas para os fins desta tarefa. A pontuação no final do RegionName não encapsulada entre parênteses não precisa ser removida.

Ok! Vamos lá

Irei primeiramente carregar o arquivo (pode ser que haja uma maneira mais *pandorable* de se fazer isso, mas por se tratar de um .txt vamos de ```.open``` ) para ```file_txt``` percorrer cada linha e armazenar o *state* atual.

Para pegar o state atual, podemos verificar se a string contém um 'edit' como substring. Dentro disso, temos as regioes que podemos ignorar tudo depois da '(' também.

Devemos atentar para duas coisas ao splitar as strings.
   
   - 1.  Atentar pro espaço antes do parênteses. Isso refere-se que se o split for em '(' e não em ' (', um espaço em branco ficará na posição 0 do array da string.
   - 2. Atentar para linhas que não contenham '(', nesse caso, podemos usar o splitline, que separa em \n


Podemos adicionar os valores em 2 listas para transformarmos em dataframe posteriormente.

In [4]:
file_txt = open("university_towns.txt")
state = []
region = []
for line in file_txt:
    print(line)

Alabama[edit]

Auburn (Auburn University)[1]

Florence (University of North Alabama)

Jacksonville (Jacksonville State University)[2]

Livingston (University of West Alabama)[2]

Montevallo (University of Montevallo)[2]

Troy (Troy University)[2]

Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]

Tuskegee (Tuskegee University)[5]

Alaska[edit]

Fairbanks (University of Alaska Fairbanks)[2]

Arizona[edit]

Flagstaff (Northern Arizona University)[6]

Tempe (Arizona State University)

Tucson (University of Arizona)

Arkansas[edit]

Arkadelphia (Henderson State University, Ouachita Baptist University)[2]

Conway (Central Baptist College, Hendrix College, University of Central Arkansas)[2]

Fayetteville (University of Arkansas)[7]

Jonesboro (Arkansas State University)[8]

Magnolia (Southern Arkansas University)[2]

Monticello (University of Arkansas at Monticello)[2]

Russellville (Arkansas Tech University)[2]

Searcy (Harding University)[5]

California[edit]

Angwin (Pacific Union College)[2]

Arcata (Humboldt State University)[5]

Berkeley (University of California, Berkeley)[5]

Chico (California State University, Chico)[2]

Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]

Cotati (California State University, Sonoma)[2]

Davis (University of California, Davis)[1]

Irvine (University of California, Irvine)

Isla Vista (University of California, Santa Barbara)[2]

University Park, Los Angeles (University of Southern California)

Merced (University of California, Merced)

Orange (Chapman University)

Palo Alto (Stanford University)

Pomona (Cal Poly Pomona, WesternU)[9][10][11] and formerly Pomona College

Redlands (University of Redlands)

Riverside (University of California, Riverside, California Baptist University, La Sierra University)

Sacramento (California State University, Sacramento)

University District, San Bernardino (California State University, San Bernardino, American Sports University)

San Diego (University of California, San Diego, San Diego State University)

San Luis Obispo (California Polytechnic State University)[2]

Santa Barbara (Fielding Graduate University, Santa Barbara City College, University of California, Santa Barbara, Westmont College)[2]

Santa Cruz (University of California, Santa Cruz)[2]

Turlock (California State University, Stanislaus)

Westwood, Los Angeles (University of California, Los Angeles)[2]

Whittier (Whittier CollegeRio Hondo College)

Colorado[edit]

Alamosa (Adams State College)[2]

Boulder (University of Colorado at Boulder)[12]

Durango (Fort Lewis College)[2]

Fort Collins (Colorado State University)[13]

Golden (Colorado School of Mines)

Grand Junction (Colorado Mesa University)

Greeley (University of Northern Colorado)

Gunnison (Western State College)[2]

Pueblo, Colorado (Colorado State University-Pueblo)

Connecticut[edit]

Fairfield (Fairfield University, Sacred Heart University)

Middletown (Wesleyan University)

New Britain (Central Connecticut State University)

New Haven (Yale University, University of New Haven, Southern Connecticut State University, Albertus Magnus College, Quinnipiac University)[14]

New London (Connecticut College, US Coast Guard Academy, Mitchell College)[2]

Storrs (University of Connecticut)[2]

Willimantic (Eastern Connecticut State University)[2]

Delaware[edit]

Dover (Delaware State University)[1]

Newark (University of Delaware)[1]

Florida[edit]

Ave Maria (Ave Maria University)

Boca Raton (Florida Atlantic University)

Coral Gables (University of Miami)

DeLand (Stetson University)[5]

Estero (Florida Gulf Coast University)

Gainesville (University of Florida, Santa Fe College)

Orlando (University of Central Florida)

Sarasota (New College of Florida, Ringling College of Art and Design, State College of Florida, Manatee-Sarasota, University of South Florida Sarasota-Manatee)

St. Augustine (Flagler College)

St. Leo (St. Leo University)

Tallahassee (Florida State University, Florida A&M University)

Tampa (University of South Florida)

Georgia[edit]

Albany (Albany State University)

Athens (University of Georgia)[15]

Atlanta (Georgia State University, Georgia Tech, Emory)[2]

Carrollton (University of West Georgia)[2]*Dahlonega (North Georgia College & State University)[2]

Demorest (Piedmont College)[2]

Fort Valley (Fort Valley State University)[2]

Kennesaw (Kennesaw State University)

Milledgeville (Georgia College & State University)[2]

Mount Vernon (Brewton-Parker College)[2]

Oxford (Oxford College)

Rome (Berry College, Shorter University)

Savannah (Armstrong Atlantic State University, Savannah State University, Savannah College of Art and Design)

Statesboro (Georgia Southern University)[5]

Valdosta (Valdosta State University)[2]

Waleska (Reinhardt College)[2]

Young Harris (Young Harris College)[2]

Hawaii[edit]

Manoa (University of Hawaii at Manoa)[2]

Idaho[edit]

Moscow (University of Idaho)[2]

Pocatello (Idaho State University)[2]

Rexburg (BYU-Idaho)[2]

Illinois[edit]

Carbondale (Southern Illinois University Carbondale)[5]

Champaign–Urbana (University of Illinois at Urbana–Champaign)[5]

Charleston (Eastern Illinois University)[2]

DeKalb (Northern Illinois University)[2]

Edwardsville (Southern Illinois University Edwardsville)[2]

Evanston (Northwestern University)[2]

Lebanon (McKendree University)[2]

Macomb (Western Illinois University)[2]

Normal (Illinois State University)[2]

Peoria (Bradley University)

Indiana[edit]

Bloomington (Indiana University Bloomington)[5]

Crawfordsville (Wabash College)

Greencastle (DePauw University)[5]

Hanover (Hanover College)[2]

Marion (Indiana Wesleyan University)[2]

Muncie (Ball State University)[2]

Oakland City (Oakland City University)[2]

Richmond (Earlham College)[2]

South Bend (Notre Dame University[2])

Terre Haute (Indiana State University, Rose-Hulman Institute of Technology)[2]

Upland (Taylor University)[2]

Valparaiso (Valparaiso University)

West Lafayette (Purdue University)[2]

Iowa[edit]

Ames (Iowa State University)[2]

Cedar Falls (University of Northern Iowa)[2]

Cedar Rapids, Iowa (Coe College )

Decorah (Luther College)[5]

Fayette (Upper Iowa University)[2]

Grinnell (Grinnell College)[15]

Iowa City (University of Iowa)[15]

Lamoni (Graceland University)[2]

Mount Vernon, (Cornell College)

Orange City (Northwestern College)[2]

Sioux Center (Dordt College)[2]

Storm Lake (Buena Vista University)[2]

Waverly (Wartburg College)[2]

Kansas[edit]

Baldwin City (Baker University)[5]

Emporia (Emporia State University)[2]

Hays (Fort Hays State University)[2]

Lawrence (University of Kansas, Haskell Indian Nations University)[15]

Manhattan (Kansas State University, Manhattan Christian College)[15]

Pittsburg (Pittsburg State University)[2]

Kentucky[edit]

Bowling Green (Western Kentucky University)[2]

Columbia (Lindsey Wilson College)[2]

Georgetown (Georgetown College)

Highland Heights (Northern Kentucky University)

Lexington (University of Kentucky, Transylvania University[5]

Louisville (University of Louisville)

Morehead (Morehead State University)[2]

Murray (Murray State University)[5]

Richmond (Eastern Kentucky University)[2]

Williamsburg (University of the Cumberlands)[2]

Wilmore (Asbury University, Asbury Theological Seminary)[2]

Louisiana[edit]

Baton Rouge (Louisiana State University, Southern University)

Grambling (Grambling State University)[5]

Hammond (Southeastern Louisiana University)[2]

Lafayette (University of Louisiana at Lafayette)

Monroe (University of Louisiana at Monroe)[2]

Natchitoches (Northwestern State University)[2]

Ruston (Louisiana Tech University)[2]

Thibodaux (Nicholls State University)[2]

Maine[edit]

Augusta (University of Maine at Augusta)[2]

Bar Harbor (College of the Atlantic)

Brunswick (Bowdoin College)

Farmington (University of Maine at Farmington)[2]

Fort Kent (University of Maine at Fort Kent)

Gorham (University of Southern Maine)[2]

Lewiston, Maine (Bates College)

Orono (University of Maine)[2]

Waterville (Thomas College, Colby College)

Maryland[edit]

Annapolis (United States Naval Academy, St. John's College)

Chestertown (Washington College)[2]

College Park (University of Maryland, College Park)[16]

Cumberland (Allegany College of Maryland)

Emmitsburg (Mount St. Mary's University)[2]

Frostburg (Frostburg State University)[5]

Princess Anne (University of Maryland Eastern Shore)[5]

Towson (Towson University, Goucher College)[2]

Salisbury (Salisbury University)[2]

Westminster (McDaniel College)

Massachusetts[edit]

Boston (Boston University, Boston College, Boston Conservatory, New England Conservatory, Brandeis University, Northeastern University, UMass Boston, Emmanuel College, Bunker Hill Community College, Roxbury Community College, Suffolk University, Simmons College, among many others)

Bridgewater (Bridgewater State College)[2]

Cambridge (Harvard University, Massachusetts Institute of Technology)(Lesley University, Cambridge College, Longy School of Music)[15]

Chestnut Hill (Boston College)

The Colleges of Worcester Consortium:

Dudley (Nichols College)

North Grafton (Cummings School of Veterinary Medicine at Tufts University)

Paxton (Anna Maria College)

Worcester (Assumption, Becker, Clark University, Holy Cross, Mass. College of Pharmacy & Health Sciences, Quinsigamond Community College, UMass Medical School, Worcester State University, Worcester Polytechnic Institute)

The Five College Region of Western Massachusetts:

Amherst (Amherst College, Hampshire College, University of Massachusetts Amherst)[15]

Northampton (Smith College)

South Hadley (Mount Holyoke College)

Fitchburg (Fitchburg State College)

North Adams (Massachusetts College of Liberal Arts)

Springfield (American International College), (Springfield College), and (Western New England College)

Waltham (Bentley University), (Brandeis University)

Williamstown (Williams College)

Framingham (Framingham State University)

Michigan[edit]

Adrian (Adrian College, Siena Heights University)

Albion (Albion College)[17]

Allendale (Grand Valley State University)

Alma (Alma College)

Ann Arbor (University of Michigan)[1]

Berrien Springs (Andrews University)[2]

Big Rapids (Ferris State University)[2]

East Lansing (Michigan State University)[2]

Flint (Kettering University, University of Michigan-Flint)

Hillsdale (Hillsdale College)

Houghton (Michigan Technological University)[5]

Kalamazoo (Western Michigan University, Kalamazoo College)[2]

Marquette (Northern Michigan University)[2]

Midland (Northwood University)

Mount Pleasant (Central Michigan University)[2]

Olivet (Olivet College)[2]

Saginaw (Saginaw Valley State University)

Sault Ste. Marie (Lake Superior State University)

Spring Arbor (Spring Arbor University)[2]

Ypsilanti (Eastern Michigan University)[2]

Minnesota[edit]

Bemidji (Bemidji State University)[2]

Crookston (University of Minnesota Crookston)[2]

Duluth (University of Minnesota Duluth, Lake Superior College, The College of St. Scholastica, University of Wisconsin–Superior, Duluth Business University

Faribault, South Central College

Mankato (Minnesota State University, Mankato),[2] Bethany Lutheran College

Marshall (Southwest Minnesota State University)[2]

Moorhead (Minnesota State University, Moorhead, Concordia College)[18]

Morris (University of Minnesota Morris)[2]

Northfield (Carleton College, St. Olaf College)[5]

North Mankato, South Central College

St. Cloud (St. Cloud State University, The College of St. Scholastica)[2]

St. Joseph (College of Saint Benedict)[2]

St. Peter (Gustavus Adolphus College)[2]

Winona (Winona State University, St. Mary's University of Minnesota)[19]

Mississippi[edit]

Cleveland (Delta State University)[2]

Hattiesburg (University of Southern Mississippi)[20]

Itta Bena (Mississippi Valley State University)[2]

Oxford (University of Mississippi)[2]

Starkville (Mississippi State University)[2]

Missouri[edit]

Bolivar (Southwest Baptist University)[2]

Cape Girardeau (Southeast Missouri State University)[2]

Columbia (University of Missouri, Stephens College, Columbia College)[20]

Fayette (Central Methodist University)[2]

Fulton (Westminster College and William Woods University).

Kirksville (Truman State University, A. T. Still University)[2]

Maryville (Northwest Missouri State University)[2]

Rolla (Missouri University of Science and Technology)[2]

Warrensburg (University of Central Missouri)[5]

Montana[edit]

Bozeman (Montana State University)[2]

Dillon (University of Montana Western)[2]

Missoula (University of Montana)[5]

Nebraska[edit]

Chadron (Chadron State College)[5]

Crete (Doane College)[2]

Kearney (University of Nebraska at Kearney)[2]

Lincoln (University of Nebraska at Lincoln)[5]

Peru (Peru State College)[2]

Seward (Concordia University)[2]

Wayne (Wayne State College)[2]

Nevada[edit]

Las Vegas (University of Nevada, Las Vegas)

Reno (University of Nevada, Reno)

New Hampshire[edit]

New London, New Hampshire (Colby-Sawyer College)

Durham (University of New Hampshire)[2]

Hanover (Dartmouth College)[5]

Henniker (New England College)

Keene (Keene State College)[2]

Plymouth (Plymouth State University)[2]

Rindge (Franklin Pierce University)

New Jersey[edit]

Ewing (The College of New Jersey), (Rider University)

Jersey City (New Jersey City University), (Saint Peter's University)

Glassboro (Rowan University)[2]

Hoboken (Stevens Institute of Technology)

Madison (Drew University), (Fairleigh Dickinson University), (College of Saint Elizabeth)

Newark (Rutgers University), (New Jersey Institute of Technology), (UMDNJ)

New Brunswick (Rutgers University)[5]

Princeton (Princeton University)[5]

Union (Kean University)

West Long Branch (Monmouth University)

New Mexico[edit]

Hobbs (University of the Southwest)[2]

Las Cruces (New Mexico State University)[2]

Las Vegas (New Mexico Highlands University)[2]

Portales (Eastern New Mexico University)[2]

Silver City (Western New Mexico University)[2]

New York[edit]

Alfred (Alfred University, Alfred State College)[2]

Albany (SUNY Albany, Siena College, Albany College of Pharmacy, Albany Law School, Albany Medical College, College of Saint Rose, Excelsior College, Maria College of Albany, Mildred Elley, Sage College of Albany)

Aurora (Wells College)[21]

Binghamton (Binghamton University)[2]

Brockport (SUNY Brockport)[5]

Buffalo (University at Buffalo)

Canton (St. Lawrence University, SUNY Canton)[2]

Clinton (Hamilton College)[2]

Cobleskill (SUNY Cobleskill)[2]

Delhi (SUNY Delhi)[2]

Fredonia (SUNY Fredonia)[2]

Geneseo (SUNY Geneseo)[2]

Geneva (Hobart and William Smith Colleges)

Hamilton (Colgate University)[2]

Ithaca (Cornell University, Ithaca College)[1]

Morningside Heights, Manhattan (Columbia University, Barnard College, Teachers College, Manhattan School of Music, Jewish Theological Seminary, Union Theological Seminary, Bank Street College of Education)

New Paltz (SUNY New Paltz)[2]

Oneonta (SUNY Oneonta, Hartwick College)[2]

Oswego (SUNY Oswego)[2]

Plattsburgh (SUNY Plattsburgh)[2]

Potsdam (SUNY Potsdam, Clarkson University)[2]

Poughkeepsie (Vassar College, Marist College)[2]

Purchase (Purchase College, Manhattanville College)[2]

Rochester (University of Rochester, Rochester Institute of Technology, Nazareth College, St. John Fisher College, Monroe Community College, Roberts Wesleyan College, SUNY Brockport, SUNY Empire State College)[2]

Saratoga Springs (Skidmore College)[2]

Seneca Falls (New York Chiropractic College)

Stony Brook (Stony Brook University)

Syracuse (Syracuse University, SUNY ESF, Upstate Medical University)

Tivoli (Bard College)

Troy (Rensselaer Polytechnic Institute, Russell Sage College, Hudson Valley Community College)

West Point (United States Military Academy)

North Carolina[edit]

Banner Elk (Lees-McRae College)

Boiling Springs (Gardner-Webb University)[2]

Boone (Appalachian State University)[2]

Buies Creek (Campbell University)[2]

Chapel Hill (University of North Carolina at Chapel Hill)[20]

Cullowhee (Western Carolina University)[2]

Davidson (Davidson College)[5]

Durham (Duke University, North Carolina Central University)[5]

Elon (Elon University)[2]

Greensboro (University of North Carolina at Greensboro, Greensboro College, Guilford College, North Carolina A & T State University, Bennett College)

Greenville (East Carolina University)[2]

Hickory (Lenoir-Rhyne University)[2]

Mars Hill (Mars Hill College)[2]

Mount Olive (Mount Olive College)[2]

Pembroke (University of North Carolina at Pembroke)[2]

Wilmington, North Carolina (University of North Carolina at Wilmington)

Wingate (Wingate University)[2]

Winston-Salem (Wake Forest University, University of North Carolina School of the Arts, Salem College, Winston-Salem State University)

North Dakota[edit]

Fargo (North Dakota State University)[18]

Grand Forks (University of North Dakota)[5]

Ohio[edit]

Ada (Ohio Northern University)[2]

Alliance (University of Mount Union)

Ashland (Ashland University)[2]

Athens (Ohio University)[2]

Berea (Baldwin Wallace College)

Bluffton (Bluffton University)[2]

Bowling Green (Bowling Green State University)[2]

Cedarville (Cedarville University)[2]

Columbus (Ohio State University)

Delaware (Ohio Wesleyan University)

Fairborn (Wright State University)

Findlay (University of Findlay)

Gambier (Kenyon College)[2]

Granville (Denison University)[2]

Hiram (Hiram College)[2]

Kent (Kent State University)[2]

Nelsonville (Hocking College)[2]

New Concord (Muskingum College)[2]

Oberlin (Oberlin College)[5]

Oxford (Miami University)[5]

Rio Grande (University of Rio Grande)[2]

Wilberforce (Wilberforce University, Central State University)[2]

Oklahoma[edit]

Ada (East Central University)[2]

Alva (Northwestern Oklahoma State University)[2]

Durant (Southeastern Oklahoma State University)[2]

Edmond (University of Central Oklahoma, Oklahoma Christian University)[2]

Goodwell (Oklahoma Panhandle State University)[2]

Langston (Langston University)[5]

Norman (University of Oklahoma)[1]

Stillwater (Oklahoma State University)[5]

Tahlequah (Northeastern State University)[2]

Tulsa (The University of Tulsa)

Weatherford (Southwestern Oklahoma State University)

Oregon[edit]

Ashland (Southern Oregon University)[2]

Corvallis (Oregon State University)[20]

Eugene (Lane Community College, Northwest Christian University, University of Oregon)[20]

Forest Grove (Pacific University)

Klamath Falls (Klamath Community College, Oregon Institute of Technology)

La Grande (Eastern Oregon University)[2]

Marylhurst (Marylhurst University)

McMinnville (Linfield College)

Monmouth (Western Oregon University)[2]

Newberg (George Fox University)

Pennsylvania[edit]

Altoona (Penn State Altoona)

Annville (Lebanon Valley College)[2]

Bethlehem (Lehigh University, Moravian College)

Bloomsburg (Bloomsburg University of Pennsylvania)[2]

Bradford (University of Pittsburgh at Bradford)

California (California University of Pennsylvania)[2]

Carlisle (Dickinson College)

Cecil B. Moore, Philadelphia, also known as "Templetown" (Temple University)

Clarion (Clarion University of Pennsylvania)[2]

Collegeville (Ursinus College)

Cresson (Mount Aloysius College)[2]

East Stroudsburg (East Stroudsburg University of Pennsylvania)[2]

Edinboro (Edinboro University of Pennsylvania)[2]

Erie (Gannon University, Mercyhurst College, Penn State Erie)

Gettysburg (Gettysburg College)[2]

Greensburg (Seton Hill University, University of Pittsburgh at Greensburg)

Grove City (Grove City College)[2]

Huntingdon (Juniata College)[2]

Indiana (Indiana University of Pennsylvania)[2]

Johnstown (University of Pittsburgh at Johnstown)

Kutztown (Kutztown University of Pennsylvania)[2]

Lancaster (Franklin & Marshall)

Lewisburg (Bucknell University)[5]


In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    file_txt = open("university_towns.txt")
    state = []
    region = []
    for line in file_txt:
        if 'edit' in line:
            current_state = line.split('[')[0]
            continue

        state.append(current_state) 
        region.append(line.split(' (')[0] if '(' in line else line.splitlines()[0])

    df_unitown = pd.DataFrame(list(zip(state, region)), columns=['State', 'RegionName'])
    
    return df_unitown
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

# Segunda questão: Identificar o ano e trimestre em que ocorreu a recessão.

 - Uma *recession* (recessão) corresponde a começar com 2 trimestres consecutivos de GDP (PIB) e com trimestre final em ascenção de PIB.

 - Precisamos retornar o ano e o trimestre como um valor string.

- Devemos atentar para as dicas para o exercício:
    
   - use o valor encadeado em dólares de 2009 
   - Para esta tarefa, observe apenas os dados do PIB a partir do primeiro trimestre de 2000.

Para começar, precisamos carregar o ```gdplev.xls```.

Podemos utilizar a função `cut` para sabermos o semestre.

In [11]:
trim_df = pd.read_excel('gdplev.xls', header=None)
trim_df.head(10)

,0,1,2,3,4,5,6,7
0,"Current-Dollar and ""Real"" Gross Domestic Product",NaN,NaN,NaN,NaN,NaN,NaN,2016-09-29
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,Annual,NaN,NaN,NaN,Quarterly,NaN,NaN,NaT
3,NaN,NaN,NaN,NaN,(Seasonally adjusted annual rates),NaN,NaN,NaT
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
5,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaT
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
8,1929,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaT
9,1930,92.2,966.7,NaN,1947q2,246.3,1932.3,NaT

OK, temos um problema. Colunas não estão corretamente nomeadas e os dados só começam a contar apartir da linha 9.

Vamos corrigir isso.

Primeiramente vamos skipar as primeiras 8 linhas, e vamos olhar para as colunas (seasonally adjusted annual rates) = E, e  (GDP in bilions of chained 2009 dollars) G.

In [12]:
trim_df = pd.read_excel('gdplev.xls', skiprows=9, parse_cols='E,G', header=None)
trim_df.columns = ['quarter', 'GDP']
trim_df.head(10)

  quarter     GDP
0  1947q2  1932.3
1  1947q3  1930.3
2  1947q4  1960.7
3  1948q1  1989.5
4  1948q2  2021.9
5  1948q3  2033.2
6  1948q4  2035.3
7  1949q1  2007.5
8  1949q2  2000.8
9  1949q3  2022.8

Certo, mas precisamos olhar apenas para os dados a partir do ano 2000.

Vamos fazer isso splitando o ano tirando o 'q', e selecionando apenas os que sao acima de 2000.

In [13]:
trim_df['date'] = trim_df['quarter'].apply(lambda x: x.split('q')[0]).astype(int)
pib_df = trim_df[trim_df['date'] >= 2000]
pib_df.head()

    quarter      GDP  date
211  2000q1  12359.1  2000
212  2000q2  12592.5  2000
213  2000q3  12607.7  2000
214  2000q4  12679.3  2000
215  2001q1  12643.3  2001

Certo, agora vamos eliminar a coluna criada 'date'.

In [14]:
pib_df.drop('date', axis=1, inplace=True)

In [15]:
pib_df.reset_index(inplace=True)

OK, agora precisamos retornar os anos de recessões, lembrando que uma recession (recessão) corresponde a começar com 2 trimestres consecutivos de GDP (PIB) em declínio (q1 > q2 e q2 > q3) seguidos por trimestres finais em ascenção de PIB (q3 < q4), ou seja, dado um trimestre x, queremos que x-2 seja > que x-1, e que x-1 seja > que x

In [16]:
for i in range(0, pib_df.shape[0]-4):
        if ((pib_df.loc[i, 'GDP'] > pib_df.loc[i+1, 'GDP']) and 
            (pib_df.loc[i+1, 'GDP'] > pib_df.loc[i+2, 'GDP']) and 
            (pib_df.loc[i+2, 'GDP'] < pib_df.loc[i+3, 'GDP'])):
            (pib_df.loc[i+3, 'GDP'] < pib_df.loc[i+4, 'GDP'])
            idx = i
            startdate = pib_df.loc[i, 'quarter']

startdate

'2008q4'

In [17]:
print(pib_df.loc[idx-1, 'quarter'], pib_df.loc[idx, 'GDP'])
print(pib_df.loc[idx, 'quarter'], pib_df.loc[idx, 'GDP'])
print(pib_df.loc[idx+1, 'quarter'], pib_df.loc[idx+1, 'GDP'])
print(pib_df.loc[idx+2, 'quarter'], pib_df.loc[idx+2, 'GDP'])
print(pib_df.loc[idx+3, 'quarter'], pib_df.loc[idx+3, 'GDP'])
print(pib_df.loc[idx+4, 'quarter'], pib_df.loc[idx+4, 'GDP'])

            
print(pib_df.loc[idx-1, 'quarter'])

2008q3 14577.0
2008q4 14577.0
2009q1 14375.0
2009q2 14355.6
2009q3 14402.5
2009q4 14541.9
2008q3

In [93]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    trim_df = pd.read_excel('gdplev.xls', skiprows=9, parse_cols='E,G', header=None)
    trim_df.columns = ['quarter', 'GDP']
    trim_df['date'] = trim_df['quarter'].apply(lambda x: x.split('q')[0]).astype(int)
    
    pib_df = trim_df[trim_df['date'] >= 2000]
    pib_df.drop('date', axis=1, inplace=True)
    pib_df.reset_index(inplace=True)
    
    for i in range(0, pib_df.shape[0]-4):
        if ((pib_df.loc[i, 'GDP'] > pib_df.loc[i+1, 'GDP']) and 
            (pib_df.loc[i+1, 'GDP'] > pib_df.loc[i+2, 'GDP']) and 
            (pib_df.loc[i+2, 'GDP'] < pib_df.loc[i+3, 'GDP'])):
            (pib_df.loc[i+3, 'GDP'] < pib_df.loc[i+4, 'GDP'])
            idx = i

    return pib_df.loc[idx-1, 'quarter']

get_recession_start()

'2008q3'

# Terceira Questão: Encontrar o ano de término da recessão

Bom, se precisávamos encontrar o inicio anteriormente, o final é o inicio + 4 trimestres.

In [20]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    trim_df = pd.read_excel('gdplev.xls', skiprows=9, parse_cols='E,G', header=None)
    trim_df.columns = ['quarter', 'GDP']
    trim_df['date'] = trim_df['quarter'].apply(lambda x: x.split('q')[0]).astype(int)
    
    pib_df = trim_df[trim_df['date'] >= 2000]
    pib_df.drop('date', axis=1, inplace=True)
    pib_df.reset_index(inplace=True)
    
    for i in range(0, pib_df.shape[0]-4):
        if ((pib_df.loc[i, 'GDP'] > pib_df.loc[i+1, 'GDP']) and 
            (pib_df.loc[i+1, 'GDP'] > pib_df.loc[i+2, 'GDP']) and 
            (pib_df.loc[i+2, 'GDP'] < pib_df.loc[i+3, 'GDP'])):
            (pib_df.loc[i+3, 'GDP'] < pib_df.loc[i+4, 'GDP'])
            idx = i

    return pib_df.loc[idx+4, 'quarter']

get_recession_end()

'2009q4'

# Quarta questão: Retornar o trimestre de menor PIB durante a recessão

Bom, agora precisamos retornar o ano e trimestre em que houve o _recession bottom_.

Lembrando que uma _recession bottom_ é o trimestre que obteve o menor PIB da recessão.

Podemos repetir o código anterior, e encontrar o min de GDP, dentro dos 4 trimestres;

In [22]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    trim_df = pd.read_excel('gdplev.xls', skiprows=9, parse_cols='E,G', header=None)
    trim_df.columns = ['quarter', 'GDP']
    trim_df['date'] = trim_df['quarter'].apply(lambda x: x.split('q')[0]).astype(int)
    
    pib_df = trim_df[trim_df['date'] >= 2000]
    pib_df.drop('date', axis=1, inplace=True)
    pib_df.reset_index(inplace=True)
    
    for i in range(0, pib_df.shape[0]-4):
        if ((pib_df.loc[i, 'GDP'] > pib_df.loc[i+1, 'GDP']) and 
            (pib_df.loc[i+1, 'GDP'] > pib_df.loc[i+2, 'GDP']) and 
            (pib_df.loc[i+2, 'GDP'] < pib_df.loc[i+3, 'GDP'])):
            (pib_df.loc[i+3, 'GDP'] < pib_df.loc[i+4, 'GDP'])
            idx = i
    
    
    answer = pib_df.iloc[idx-1:idx+4]
    answer.set_index('index', inplace=True)
    answer = answer.loc[answer['GDP'] == answer['GDP'].min(),'quarter']

    return answer.iloc[0]
get_recession_bottom()

'2009q2'

# Quinta questão 

Para essa questão iremos utilizar o ultimo dataset disponibilizado. 

Precisamos converter os dados para trimestres e retornar os valores médios em um dataframe. Esse dataframe precisa ter as colunas com os trimestres (2000q1 ate 2016q3) e com multi-indice com os valores de estado e nome da regiao.

- `City_Zhvi_AllHomes.csv` um .csv contendo todas as casas no nível da cidade, e que possui preços médios de venda de casas em um nível refinado.

Vamos começar carregando-o e entendendo seus dados

In [81]:
df_homes = pd.read_csv('City_Zhvi_AllHomes.csv')
df_homes.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

De antemão podemos notar que a coluna estado possui apenas as siglas deles, mas como nos foi disponibilizado um dicionário para tal, podemos renomar essa coluna. 

Outro fator importante, é que devemos notar que não há uma coluna com os trimestres, mas há cada ano junto com mês. Devemos agrupá-los de 3 em 3.


Ok! Vamos corrigir os estados primeiramente, e já atribuir os índices.

In [82]:
df_homes['State'].replace(states, inplace=True)
df_homes.set_index(['State', 'RegionName'], inplace=True)
df_homes.head()

,,RegionID,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,6181,New York,Queens,1,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
California,Los Angeles,12447,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,154100.0,154300.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
Illinois,Chicago,17426,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,109100.0,109000.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
Pennsylvania,Philadelphia,13271,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,49400.0,49300.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
Arizona,Phoenix,40326,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,88500.0,88900.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

---

Certo, já está! Mas vamos recordar que precisamos dos resultados apartir do ano 2000 certo? Vamos selecionar de 2000-01 até 2016-08.

Podemos utilizar um método para selecionar apenas as colunas que vamos utilizar, ```filter```.

Vamos criar uma lista com as colunas que queremos.

---

In [85]:
cols = []
for year in range (2000, 2016):
    for month in range(1, 13):
        cols.append(f"{year}-{month:02d}")
        
# como 2016 vai até mes 8, vamos fazer o ultimo ano separado    
for month in range(1, 9):
        cols.append(f"2016-{month:02d}")
        
df_homes.filter(cols).head()

,,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,2000-10,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
California,Los Angeles,204400.0,207000.0,209800.0,212300.0,214500.0,216600.0,219000.0,221100.0,222800.0,224300.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
Illinois,Chicago,136800.0,138300.0,140100.0,141900.0,143700.0,145300.0,146700.0,147900.0,149000.0,150400.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
Pennsylvania,Philadelphia,52700.0,53100.0,53200.0,53400.0,53700.0,53800.0,53800.0,54100.0,54500.0,54700.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
Arizona,Phoenix,111000.0,111700.0,112800.0,113700.0,114300.0,115100.0,115600.0,115900.0,116500.0,117200.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

---

Certo, agora que temos apenas as colunas que utilizaremos, vamos agrupar os trimestres. Podemos criar um dicionário e renomear as colunas com método ````.rename````

---

In [84]:
df_homes = df_homes.filter(cols)

In [91]:
dict_quarters = {}

for year in range (2000, 2016):
    for month in range(1, 13):
        cols.append(f"{year}-{month:02d}")
        if (month <= 3):
            dict_quarters[(f"{year}-{month:02d}")] = (f"{year}q1")
        elif (month >= 4 and month <= 6):
            dict_quarters[(f"{year}-{month:02d}")] = (f"{year}q2")
        elif (month >= 7 and month <= 9):
            dict_quarters[(f"{year}-{month:02d}")] = (f"{year}q3")
        else:
            dict_quarters[(f"{year}-{month:02d}")] = (f"{year}q4")
            
        
# como 2016 vai até mes 8, vamos fazer o ultimo ano separado      
for month in range(1, 9):
    cols.append(f"2016-{month:02d}")
    if (month <= 3):
        dict_quarters[(f"2016-{month:02d}")] = (f"2016q1")
    elif (month >= 4 and month <= 6):
        dict_quarters[(f"2016-{month:02d}")] = (f"2016q2")
    elif (month >= 7 and month <= 9):
        dict_quarters[(f"2016-{month:02d}")] = (f"2016q3")
    else:
        dict_quarters[(f"2016-{month:02d}")] = (f"2016q4")

df_homes.rename(columns=dict_quarters, inplace=True)

---

Certo, já temos o que precisamos, agora só precisamos agrupar por trimestre e contar a média pra cada um.

---

In [87]:
df_homes.groupby(by=df_homes.columns, axis=1).mean().sort_index().head()

                            2000q1         2000q2         2000q3  \
State   RegionName
Alabama Adamsville    69033.333333   69166.666667   69800.000000
        Alabaster    122133.333333  123066.666667  123166.666667
        Albertville   73966.666667   72600.000000   72833.333333
        Arab          83766.666667   81566.666667   81333.333333
        Ardmore                NaN            NaN            NaN

                            2000q4         2001q1         2001q2  \
State   RegionName
Alabama Adamsville    71966.666667   73466.666667   74000.000000
        Alabaster    123700.000000  123233.333333  125133.333333
        Albertville   74200.000000   75900.000000   76000.000000
        Arab          82966.666667   84200.000000   84533.333333
        Ardmore                NaN            NaN            NaN

                            2001q3         2001q4         2002q1  \
State   RegionName
Alabama Adamsville    73333.333333   73100.000000   73333.333333
        Alabaster    127766.666667  127200.000000  127300.000000
        Albertville   72066.666667   73566.666667   76533.333333
        Arab          81666.666667   83900.000000   87266.666667
        Ardmore                NaN            NaN            NaN

                            2002q2    ...            2015q3         2015q4  \
State   RegionName                    ...
Alabama Adamsville    73133.333333    ...      73933.333333   73866.666667
        Alabaster    128000.000000    ...     150366.666667  151733.333333
        Albertville   76366.666667    ...      90233.333333   91366.666667
        Arab          87700.000000    ...     110900.000000  112233.333333
        Ardmore                NaN    ...     144600.000000  143966.666667

                      2016-01   2016-02   2016-03   2016-04   2016-05  \
State   RegionName
Alabama Adamsville    73600.0   74100.0   74800.0   75200.0   74900.0
        Alabaster    152800.0  153400.0  154200.0  154900.0  155200.0
        Albertville   91400.0   92000.0   92600.0   92600.0   92400.0
        Arab         111000.0  109800.0  109300.0  109500.0  110100.0
        Ardmore      142200.0  142500.0  143000.0  143200.0  143400.0

                      2016-06   2016-07   2016-08
State   RegionName
Alabama Adamsville    74700.0   74700.0   74700.0
        Alabaster    155200.0  155600.0  156100.0
        Albertville   92400.0   92300.0   92100.0
        Arab         110700.0  111600.0  112400.0
        Ardmore      143100.0  142300.0  141600.0

[5 rows x 72 columns]

In [92]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    df_homes = pd.read_csv('City_Zhvi_AllHomes.csv')
    df_homes['State'].replace(states, inplace=True)
    df_homes.set_index(['State', 'RegionName'], inplace=True)
    
    cols = []
    for year in range (2000, 2016):
        for month in range(1, 13):
            cols.append(f"{year}-{month:02d}")

    # como 2016 vai até mes 8, vamos fazer o ultimo ano separado      
    for month in range(1, 9):
            cols.append(f"2016-{month:02d}")
            
    df_homes = df_homes.filter(cols)
    dict_quarters = {}

    for year in range (2000, 2016):
        for month in range(1, 13):
            cols.append(f"{year}-{month:02d}")
            if (month <= 3):
                dict_quarters[(f"{year}-{month:02d}")] = (f"{year}q1")
            elif (month >= 4 and month <= 6):
                dict_quarters[(f"{year}-{month:02d}")] = (f"{year}q2")
            elif (month >= 7 and month <= 9):
                dict_quarters[(f"{year}-{month:02d}")] = (f"{year}q3")
            else:
                dict_quarters[(f"{year}-{month:02d}")] = (f"{year}q4")


    # como 2016 vai até mes 8, vamos fazer o ultimo ano separado      
    for month in range(1, 9):
            cols.append(f"2016-{month:02d}")
            if (month <= 3):
                dict_quarters[(f"2016-{month:02d}")] = (f"2016q1")
            elif (month >= 4 and month <= 6):
                dict_quarters[(f"2016-{month:02d}")] = (f"2016q2")
            elif (month >= 7 and month <= 9):
                dict_quarters[(f"2016-{month:02d}")] = (f"2016q3")
            else:
                dict_quarters[(f"2016-{month:02d}")] = (f"2016q4")

    df_homes.rename(columns=dict_quarters, inplace=True)
    df_homes = df_homes.groupby(by=df_homes.columns, axis=1).mean().sort_index()
    
    return df_homes
convert_housing_data_to_quarters()

                                  2000q1         2000q2         2000q3  \
State     RegionName
Alabama   Adamsville        69033.333333   69166.666667   69800.000000
          Alabaster        122133.333333  123066.666667  123166.666667
          Albertville       73966.666667   72600.000000   72833.333333
          Arab              83766.666667   81566.666667   81333.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81700.000000   78533.333333   79133.333333
          Bayou La Batre    44066.666667   44500.000000   44266.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        54033.333333   54400.000000   54966.666667
          Boaz              70866.666667   70266.666667   70300.000000
          Brent             92933.333333   94333.333333   96166.666667
          Brighton                   NaN            NaN            NaN
          Brookwood         92566.666667   95100.000000   98866.666667
          Buhl              90800.000000   94600.000000   96500.000000
          Calera           108933.333333  110366.666667  108000.000000
          Center Point      80966.666667   81233.333333   81500.000000
          Centreville       95300.000000   96566.666667   98000.000000
          Chalkville        94100.000000   94433.333333   94433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          162066.666667  167033.333333  166900.000000
          Chickasaw         51200.000000   53666.666667   54933.333333
          Chunchula         80266.666667   81766.666667   82200.000000
          Citronelle        64833.333333   66633.333333   68066.666667
          Clay             120900.000000  122266.666667  123966.666667
          Coden             62600.000000   64800.000000   66866.666667
          Coker            118100.000000  120766.666667  118166.666667
          Concord           78600.000000   78700.000000   80133.333333
          Cottondale       100833.333333  102633.333333  104766.666667
...                                  ...            ...            ...
Wisconsin Vernon           183200.000000  178200.000000  174300.000000
          Vienna           178033.333333  181533.333333  182433.333333
          Vinland          119800.000000  126766.666667  134933.333333
          Wales                      NaN            NaN            NaN
          Waterford        121200.000000  119433.333333  120200.000000
          Waukesha         141266.666667  138433.333333  136733.333333
          Waunakee         187400.000000  191433.333333  192666.666667
          Waupun            84000.000000   84000.000000   84400.000000
          Wausau            69566.666667   69466.666667   71033.333333
          Wayne                      NaN            NaN            NaN
          West Allis        80933.333333   81933.333333   84066.666667
          Weston            80166.666667   82700.000000   84166.666667
          Wheatland        129800.000000  132133.333333  134933.333333
          Whitelaw          96033.333333  101433.333333  108033.333333
          Williams Bay     122900.000000  115300.000000  110766.666667
          Wilson           129033.333333  129366.666667  132433.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        124366.666667  123666.666667  124133.333333
          Wind Point       149233.333333  145266.666667  140866.666667
          Wisconsin Dells  100000.000000  103400.000000  105000.000000
          Wolf River        95166.666667   99333.333333  103800.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        139066.666667  134900.000000  135033.333333
Wyoming   Bar Nunn          93033.333333   89666.666667   88900.000000
          Burns            101533.333333  104566.666667  108366.666667
          Casper            89233.333333   89600.000000   89733.333333
          Cheyenne         116866.666667  120033.333333  121533.333333
          Evansville       128033.333333  128766.666667  130833.333333
          Pine Bluffs       93733.333333   95066.666667   94633.333333

                                  2000q4         2001q1         2001q2  \
State     RegionName
Alabama   Adamsville        71966.666667   73466.666667   74000.000000
          Alabaster        123700.000000  123233.333333  125133.333333
          Albertville       74200.000000   75900.000000   76000.000000
          Arab              82966.666667   84200.000000   84533.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81300.000000   85700.000000   87266.666667
          Bayou La Batre    43666.666667   42500.000000   43333.333333
          Bessemer                   NaN            NaN            NaN
          Birmingham        56066.666667   56833.333333   57600.000000
          Boaz              71466.666667   72833.333333   71900.000000
          Brent             98333.333333   96533.333333   98500.000000
          Brighton                   NaN            NaN            NaN
          Brookwood         99966.666667  101666.666667  103666.666667
          Buhl              96566.666667   99266.666667  101966.666667
          Calera           107933.333333  109333.333333  112200.000000
          Center Point      82233.333333   83366.666667   84333.333333
          Centreville       99366.666667   98100.000000   99266.666667
          Chalkville        94433.333333   96066.666667   97433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          167400.000000  170633.333333  174300.000000
          Chickasaw         56066.666667   55133.333333   53566.666667
          Chunchula         83400.000000   85400.000000   86100.000000
          Citronelle        67766.666667   67866.666667   70000.000000
          Clay             126500.000000  128033.333333  128300.000000
          Coden             68566.666667   68933.333333   71300.000000
          Coker            115333.333333  114066.666667  115700.000000
          Concord           82800.000000   85133.333333   85800.000000
          Cottondale       105300.000000  106733.333333  109233.333333
...                                  ...            ...            ...
Wisconsin Vernon           177466.666667  186233.333333  190500.000000
          Vienna           186300.000000  190600.000000  191566.666667
          Vinland          137833.333333  144300.000000  148200.000000
          Wales                      NaN            NaN            NaN
          Waterford        121966.666667  127000.000000  133000.000000
          Waukesha         139833.333333  147600.000000  151066.666667
          Waunakee         193733.333333  197333.333333  198500.000000
          Waupun            84533.333333   85100.000000   86600.000000
          Wausau            69833.333333   69866.666667   71366.666667
          Wayne                      NaN            NaN            NaN
          West Allis        80666.666667   79100.000000   80333.333333
          Weston            85800.000000   87266.666667   88500.000000
          Wheatland        137833.333333  142566.666667  143000.000000
          Whitelaw         114000.000000  116333.333333  114966.666667
          Williams Bay     110700.000000  112600.000000  117100.000000
          Wilson           137200.000000  143533.333333  143833.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        126066.666667  132133.333333  139466.666667
          Wind Point       147866.666667  158666.666667  163966.666667
          Wisconsin Dells  105433.333333  105533.333333  107100.000000
          Wolf River       107633.333333  111400.000000  115033.333333
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        140300.000000  148800.000000  155233.333333
Wyoming   Bar Nunn          93500.000000   98833.333333   99900.000000
          Burns            113000.000000  115833.333333  117200.000000
          Casper            93166.666667   95500.000000   97633.333333
          Cheyenne         123633.333333  125533.333333  126300.000000
          Evansville       132066.666667  130566.666667  131433.333333
          Pine Bluffs       98066.666667  103233.333333  104600.000000

                                  2001q3         2001q4         2002q1  \
State     RegionName
Alabama   Adamsville        73333.333333   73100.000000   73333.333333
          Alabaster        127766.666667  127200.000000  127300.000000
          Albertville       72066.666667   73566.666667   76533.333333
          Arab              81666.666667   83900.000000   87266.666667
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85900.000000   85000.000000   84066.666667
          Bayou La Batre    45433.333333   45400.000000   45400.000000
          Bessemer                   NaN            NaN            NaN
          Birmingham        58433.333333   58700.000000   59500.000000
          Boaz              68733.333333   69833.333333   72766.666667
          Brent             99366.666667  104100.000000  103800.000000
          Brighton                   NaN            NaN            NaN
          Brookwood        101833.333333   99900.000000   99633.333333
          Buhl             102000.000000  102733.333333  102533.333333
          Calera           114333.333333  112133.333333  111500.000000
          Center Point      84466.666667   85333.333333   86100.000000
          Centreville      100400.000000  104633.333333  105233.333333
          Chalkville        98400.000000   99366.666667   99866.666667
          Chancellor                 NaN            NaN            NaN
          Chelsea          174900.000000  173300.000000  170566.666667
          Chickasaw         53533.333333   53400.000000   54266.666667
          Chunchula         86733.333333   86566.666667   86166.666667
          Citronelle        71466.666667   70933.333333   69833.333333
          Clay             129233.333333  130466.666667  130900.000000
          Coden             72733.333333   73600.000000   72933.333333
          Coker            118833.333333  122566.666667  122366.666667
          Concord           84866.666667   84766.666667   86366.666667
          Cottondale       109200.000000  109900.000000  109333.333333
...                                  ...            ...            ...
Wisconsin Vernon           193100.000000  197466.666667  201800.000000
          Vienna           193733.333333  194833.333333  198466.666667
          Vinland          147733.333333  151200.000000  149233.333333
          Wales                      NaN            NaN            NaN
          Waterford        139233.333333  143100.000000  145733.333333
          Waukesha         153100.000000  155033.333333  158200.000000
          Waunakee         201266.666667  202100.000000  206100.000000
          Waupun            87666.666667   87100.000000   87533.333333
          Wausau            73100.000000   74033.333333   76400.000000
          Wayne                      NaN            NaN            NaN
          West Allis        81433.333333   82400.000000   84966.666667
          Weston            90066.666667   91766.666667   94833.333333
          Wheatland        143966.666667  142633.333333  143933.333333
          Whitelaw         115666.666667  115866.666667  117766.666667
          Williams Bay     119533.333333  121400.000000  126566.666667
          Wilson           143233.333333  141966.666667  142466.666667
          Wilson                     NaN            NaN            NaN
          Wind Lake        144200.000000  147333.333333  150933.333333
          Wind Point       170833.333333  169566.666667  170533.333333
          Wisconsin Dells  109866.666667  111633.333333  115833.333333
          Wolf River       116900.000000  118233.333333  118600.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        161133.333333  162800.000000  164866.666667
Wyoming   Bar Nunn          99100.000000   98333.333333   98633.333333
          Burns            117800.000000  117633.333333  117333.333333
          Casper            99433.333333  100633.333333  101733.333333
          Cheyenne         126466.666667  128133.333333  128466.666667
          Evansville       132400.000000  133466.666667  133300.000000
          Pine Bluffs      106500.000000  104066.666667  102233.333333

                                  2002q2    ...            2014q2  \
State     RegionName                        ...
Alabama   Adamsville        73133.333333    ...      77066.666667
          Alabaster        128000.000000    ...     147133.333333
          Albertville       76366.666667    ...      84033.333333
          Arab              87700.000000    ...     113366.666667
          Ardmore                    NaN    ...     140533.333333
          Axis                       NaN    ...     111066.666667
          Baileyton                  NaN    ...      87666.666667
          Bay Minette       84566.666667    ...     113333.333333
          Bayou La Batre    45566.666667    ...      49800.000000
          Bessemer                   NaN    ...      54600.000000
          Birmingham        59866.666667    ...      61733.333333
          Boaz              72100.000000    ...      80933.333333
          Brent            102533.333333    ...      93866.666667
          Brighton                   NaN    ...      45366.666667
          Brookwood        100366.666667    ...     106633.333333
          Buhl             100100.000000    ...     119233.333333
          Calera           111233.333333    ...     125533.333333
          Center Point      86500.000000    ...      78833.333333
          Centreville      105066.666667    ...      95566.666667
          Chalkville       100733.333333    ...     105233.333333
          Chancellor                 NaN    ...     116400.000000
          Chelsea          171100.000000    ...     197133.333333
          Chickasaw         55000.000000    ...      59000.000000
          Chunchula         86533.333333    ...     120666.666667
          Citronelle        68133.333333    ...      88600.000000
          Clay             131100.000000    ...     134100.000000
          Coden             69100.000000    ...      77566.666667
          Coker            119200.000000    ...     141700.000000
          Concord           90366.666667    ...     104733.333333
          Cottondale       107966.666667    ...     128500.000000
...                                  ...    ...               ...
Wisconsin Vernon           201966.666667    ...     257733.333333
          Vienna           202466.666667    ...     265700.000000
          Vinland          146433.333333    ...     181766.666667
          Wales                      NaN    ...     262133.333333
          Waterford        151266.666667    ...     213133.333333
          Waukesha         157833.333333    ...     181166.666667
          Waunakee         208533.333333    ...     278100.000000
          Waupun            87466.666667    ...     113166.666667
          Wausau            78700.000000    ...      91600.000000
          Wayne                      NaN    ...     238633.333333
          West Allis        87566.666667    ...      90433.333333
          Weston            97600.000000    ...     133233.333333
          Wheatland        146433.333333    ...     169266.666667
          Whitelaw         116800.000000    ...     120433.333333
          Williams Bay     131700.000000    ...     223000.000000
          Wilson           139200.000000    ...     159933.333333
          Wilson                     NaN    ...     170300.000000
          Wind Lake        156166.666667    ...     228200.000000
          Wind Point       179733.333333    ...     261233.333333
          Wisconsin Dells  117333.333333    ...     137500.000000
          Wolf River       116800.000000    ...     162666.666667
          Woodruff                   NaN    ...     172133.333333
          Woodville                  NaN    ...     162600.000000
          Yorkville        172466.666667    ...     231500.000000
Wyoming   Bar Nunn         100866.666667    ...     199233.333333
          Burns            117233.333333    ...     168866.666667
          Casper           101533.333333    ...     175766.666667
          Cheyenne         129633.333333    ...     177466.666667
          Evansville       131066.666667    ...     296733.333333
          Pine Bluffs      103566.666667    ...     148666.666667

                                  2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Adamsville        75966.666667   71900.000000   71666.666667
          Alabaster        147633.333333  148700.000000  148900.000000
          Albertville       84766.666667   86800.000000   88466.666667
          Arab             111700.000000  111600.000000  110166.666667
          Ardmore          139566.666667  140900.000000  143233.333333
          Axis             111833.333333  111800.000000  109533.333333
          Baileyton         90033.333333   94100.000000   94600.000000
          Bay Minette      110600.000000  109900.000000  111100.000000
          Bayou La Batre    51000.000000   51766.666667   50733.333333
          Bessemer          55333.333333   54733.333333   55200.000000
          Birmingham        60900.000000   59533.333333   59900.000000
          Boaz              81866.666667   82866.666667   83966.666667
          Brent             97100.000000  100100.000000  102433.333333
          Brighton          45133.333333   43766.666667   42500.000000
          Brookwood        110233.333333  114366.666667  117700.000000
          Buhl             132033.333333  138400.000000  141766.666667
          Calera           126733.333333  127633.333333  128366.666667
          Center Point      78433.333333   80200.000000   80100.000000
          Centreville       98866.666667  101866.666667  103933.333333
          Chalkville       104333.333333  105866.666667  106966.666667
          Chancellor       117000.000000  117133.333333  114733.333333
          Chelsea          199066.666667  199933.333333  202333.333333
          Chickasaw         60400.000000   59733.333333   58066.666667
          Chunchula        121600.000000  122733.333333  123666.666667
          Citronelle        89633.333333   90766.666667   91300.000000
          Clay             134300.000000  135466.666667  138466.666667
          Coden             76866.666667   77800.000000   79300.000000
          Coker            146300.000000  154333.333333  157566.666667
          Concord          100233.333333   94800.000000   96200.000000
          Cottondale       130566.666667  133433.333333  134500.000000
...                                  ...            ...            ...
Wisconsin Vernon           256200.000000  254566.666667  253633.333333
          Vienna           267466.666667  267766.666667  268300.000000
          Vinland          183500.000000  184233.333333  184033.333333

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"