**Importação das Bibliotecas**

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import time

# **1. Análise exploratória**

###  **Carregamento dos Arquivos:**

**OBS:** Os DataFrame df\_pessoas\_'ano' são DataFrames de complemento para os dados dos DataFrames df\_ocorrencia\_'ano'

- **Base de dados por pessoas:**

In [2]:
cols = ['id','pesid', 'id_veiculo', 'tipo_veiculo', 'marca', 'ano_fabricacao_veiculo', 'tipo_envolvido', 'estado_fisico', 'idade', 'sexo', 'uf']

df_pessoas_2007 = pd.read_csv('archive/por_pessoas/acidentes2007.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2008 = pd.read_csv('archive/por_pessoas/acidentes2008.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2009 = pd.read_csv('archive/por_pessoas/acidentes2009.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2010 = pd.read_csv('archive/por_pessoas/acidentes2010.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2011 = pd.read_csv('archive/por_pessoas/acidentes2011.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2012 = pd.read_csv('archive/por_pessoas/acidentes2012.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2013 = pd.read_csv('archive/por_pessoas/acidentes2013.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2014 = pd.read_csv('archive/por_pessoas/acidentes2014.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2015 = pd.read_csv('archive/por_pessoas/acidentes2015.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2016 = pd.read_csv('archive/por_pessoas/acidentes2016.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2017 = pd.read_csv('archive/por_pessoas/acidentes2017.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2018 = pd.read_csv('archive/por_pessoas/acidentes2018.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2019 = pd.read_csv('archive/por_pessoas/acidentes2019.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2020 = pd.read_csv('archive/por_pessoas/acidentes2020.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)

- **Cabeçalho**

Visualizar os 10 primeiros registros do conjunto de dados

In [3]:
df_pessoas_2007.head(10)

,id,pesid,uf,id_veiculo,tipo_veiculo,marca,ano_fabricacao_veiculo,tipo_envolvido,estado_fisico,idade,sexo
0,10,647938,MG,439395,Automóvel,GM/CLASSIC LIFE,2005,Condutor,Ileso,23.0,Masculino
1,10,647938,MG,439395,Automóvel,GM/CLASSIC LIFE,2005,Condutor,Ileso,23.0,Masculino
2,10,648468,MG,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,44.0,Masculino
3,10,648468,MG,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,44.0,Masculino
4,10,648470,MG,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,10.0,Feminino
5,10,648470,MG,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,10.0,Feminino
6,10,648471,MG,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,39.0,Masculino
7,10,648471,MG,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,39.0,Masculino
8,10,2068191,MG,1204697,Automóvel,FIAT/UNO MILLE FIRE FLEX,2008,Condutor,Ileso,NaN,NaN
9,10,2068191,MG,1204697,Automóvel,FIAT/UNO MILLE FIRE FLEX,2008,Condutor,Ileso,NaN,NaN

### **2. Limpezas e Normalização dos DataFrames**

- **Adicionar coluna ```ano``` em todos os dataframes:**

In [4]:
df_pessoas_2007['ano'] = 2007
df_pessoas_2008['ano'] = 2008
df_pessoas_2009['ano'] = 2009
df_pessoas_2010['ano'] = 2010
df_pessoas_2011['ano'] = 2011
df_pessoas_2012['ano'] = 2012
df_pessoas_2013['ano'] = 2013
df_pessoas_2014['ano'] = 2014
df_pessoas_2015['ano'] = 2015
df_pessoas_2016['ano'] = 2016
df_pessoas_2017['ano'] = 2017
df_pessoas_2018['ano'] = 2018
df_pessoas_2019['ano'] = 2019
df_pessoas_2020['ano'] = 2020

- **Concatenar todos os dataframes**

In [5]:
df = pd.concat([df_pessoas_2007,df_pessoas_2008,df_pessoas_2009,df_pessoas_2010,df_pessoas_2011,
                              df_pessoas_2012,df_pessoas_2013,df_pessoas_2014,df_pessoas_2015,df_pessoas_2016,
                              df_pessoas_2017,df_pessoas_2018,df_pessoas_2019,df_pessoas_2020], sort = False)

- **Afunilamento dos dados para o RS**

In [6]:
df = df[df['uf'] == 'RS']

- **Tipos de dados:**

Visualizar as colunas e os respectivos tipos de dados que elas estão classificadas

In [7]:
df.dtypes

id                        float64
pesid                     float64
uf                         object
id_veiculo                 object
tipo_veiculo               object
marca                      object
ano_fabricacao_veiculo     object
tipo_envolvido             object
estado_fisico              object
idade                     float64
sexo                       object
ano                         int64
dtype: object

- **Quantidade de linhas e colunas**

In [8]:
print(f"{df.shape[0]} linhas e {df.shape[1]} colunas.")

310072 linhas e 12 colunas.

- **Eliminar linhas duplicadas do dataframe:**

In [9]:
df.drop_duplicates(subset=cols, keep='first', inplace=True)

In [10]:
print(f"Após a remoção dos registros duplicados: {df.shape[0]} linhas e {df.shape[1]} colunas.")

Após a remoção dos registros duplicados: 310065 linhas e 12 colunas.

- **_missing_ values**

In [11]:
# Porcentagem de valores faltantes
(df.isnull().sum()/df.shape[0]).sort_values()

id                        0.000000
pesid                     0.000000
uf                        0.000000
tipo_envolvido            0.000000
estado_fisico             0.000000
ano                       0.000000
sexo                      0.000123
tipo_veiculo              0.000742
id_veiculo                0.000745
ano_fabricacao_veiculo    0.007963
marca                     0.011140
idade                     0.020380
dtype: float64

- **Eliminar linhas com todos os valores incompletos ou nulos:**

In [12]:
df.dropna(how='all', inplace=True)

In [13]:
print(f"Após a remoção dos registros nulos: {df.shape[0]} linhas e {df.shape[1]} colunas.")

Após a remoção dos registros nulos: 310065 linhas e 12 colunas.

- **Reindexar os registros, por conta da remoção das duplicatas**

In [14]:
df.reset_index(drop=True, inplace=True)

- **Completar com outros valores as colunas com valores nulos ou incompletos**

Vamos nos atentar apenas para a idade. As demais colunas não são passiveis de correção.

In [15]:
# valores nulos antes de normalizar
df['idade'].isnull().sum()

6319

In [16]:
df['idade'].fillna(df['idade'].mean(), inplace=True)

In [17]:
df['idade'].isnull().sum()

0

### **3. Visualização dos valores possíveis**

Vamos verificar os valores das variáveis categóricas:

- **`tipo_envolvido`**
- **`estado_fisico`**
- **`tipo_veiculo`**
- **`marca`**
- **`sexo`**

e algumas visualizações sobre tendências nas variáveis numéricas como:
- **`ano_fabricacao_veiculo`**
- **`idade`**

In [18]:
df['tipo_envolvido'].unique()

array(['Condutor', 'Passageiro', 'Vítima', 'Pedestre', 'Autor',
       'Cavaleiro', 'Ciclista', 'Testemunha'], dtype=object)

In [19]:
df['estado_fisico'].unique()

array(['Ileso       ', 'Ferido Leve ', 'Ferido Grave', 'Ignorado    ',
       'Morto       ', '(null)', 'Ileso', 'Ferido Leve', 'Ignorado',
       'Morto', 'Lesões Leves', 'Não Informado', 'Lesões Graves', 'Óbito'],
      dtype=object)

In [20]:
df['tipo_veiculo'].unique()

array(['Automóvel', 'Motocicletas', 'Caminhão', 'Caminhonete',
       'Camioneta', 'Caminhão-Trator', '(null)', 'Não identificado',
       'Reboque', 'Bicicleta', 'Motoneta', 'Ônibus', 'Microônibus',
       'Caminhão-Tanque', 'Utilitário', 'Trator de rodas', 'Carroça',
       'Semi-Reboque', 'Charrete', 'Triciclo', 'Trator misto',
       'Bonde / Trem', 'Ciclomotor', 'Carro-de-mao', 'Quadriciclo',
       'Trator de esteiras', 'Motor-Casa', nan, 'Motocicleta',
       'Micro-ônibus', 'Caminhão-trator', 'Não Informado', 'Semireboque',
       'Outros', 'Carroça-charrete', 'Chassi-plataforma', 'Carro de mão',
       'Trem-bonde'], dtype=object)

In [21]:
df['marca'].unique()

array(['FIAT/UNO ELECTRONIC                               ',
       'GM/KADETT SL/E EFI                                ',
       'RENAULT/CLIO EXP 16 16VH', ..., 'I/JAG FPACE 250CVG PREST',
       'I/LR EVOQUE PRESTIGE 5D', 'I/TOYOTA HILUX CSLSTM4FD'],
      dtype=object)

In [22]:
df['sexo'].unique()

array(['Masculino', 'Feminino', 'Não Informado', nan, 'Inválido', 'F',
       'M', 'I', 'Ignorado'], dtype=object)

- **Análise dos valores**

OK, para o **`tipo_envolvido`** temos os valores: 
* "Condutor", 
* "Passageiro", 
* "Pedestre", 
* "Testemunha", 
* "Cavaleiro", 
* "Vítima", 
* "Autor", 
* "Ciclista", 
* "Não Informado", 
* "Proprietário de Carga" 
* "Proprietário da CNH". 

Todos os valores estão limpos e não são duplicados.

**`estado_fisico`** possui os valores: 'Ileso       ', 'Ferido Leve ', 'Ferido Grave', 'Morto       ', 'Ignorado    ', '(null)', 'Morto', 'Ileso', 'Ferido Leve', 'Ignorado', nan, 'Lesões Graves', 'Lesões Leves', 'Óbito', 'Não Informado'. Podemos observar alguns espaços em branco que discretizam valores, porém são duplicados, e também há erro sobre os valores nulos '(null)' que devem ser descartados. E valores sinônimos, como Ferido ou Lesões, e óbito e morte. Portanto, os valores únicos reais são: 
* "Ileso", 
* "Ferido Leve", 
* "Ferido Grave", 
* "Óbito", 
* "Ignorado",
* "Não informado"

**`tipo_veiculo`** possui os valores: 
'Automóvel', 'Camioneta', '(null)', 'Caminhão', 'Caminhonete',
       'Motocicletas', 'Ônibus', 'Não identificado', 'Microônibus',
       'Caminhão-Trator', 'Motoneta', 'Bicicleta', 'Reboque', 'Carroça',
       'Utilitário', 'Semi-Reboque', 'Caminhão-Tanque', 'Charrete',
       'Trator de esteiras', 'Trator de rodas', 'Trator misto',
       'Carro-de-mao', 'Ciclomotor', 'Bonde / Trem', 'Triciclo',
       'Quadriciclo', 'Side-car', 'Motor-Casa', nan, 'Motocicleta',
       'Caminhão-trator', 'Carroça-charrete', 'Semireboque',
       'Micro-ônibus', 'Outros', 'Não Informado', 'Carro de mão',
       'Trem-bonde', 'Chassi-plataforma', 'Trator de esteira'. Possui o valor '(null)' que deve ser removido, e alguns valores equivalentes, como "Carro-de-mao' e 'Carro de mão'; Todos os tratores para "Trator"; "Semi-reboque" e "Semireboque"; "Micro-ônibus" e "Microonibus".
       
Os valores únicos reais são:
* "Automóvel",
* "Camioneta",
* "Caminhonete", (esses dois parecem ambíguos mas são distintos)
* "Motocicletas",
* "Ônibus",
* "Microônibus",
* "Caminhão-Trator",
* "Motoneta",
* "Bicicleta",
* "Reboque",
* "Carroça",
* "Utilitário",
* "Semi-reboque",
* "Caminhão-Tanque",
* "Charrete",
* "Trator"
* "Carro de mao",
* "Ciclomotor",
* "Bonde / Trem", 
* "Triciclo",
* "Quadriciclo", 
* "Side-car", 
* "Motor-Casa", 
* "Motocicleta",
* "Caminhão-trator",
* "Carroça-charrete",
* "Outros",
* "Não Informado",
* "Trem-bonde",
* "Chassi-plataforma"

**`marca`** possui um padrão de "marca" / "modelo do veículo".

**`sexo`** compreende os valores: 'Masculino', 'Feminino', nan, 'Não Informado', 'Inválido', 'M', 'F', 'I', 'Ignorado'. Porém esses valores são abreviações. Portanto, os valores reais e utilizados são:

* "Masculino",
* "Feminino",
* "Não Informado",
* "Inválido"

### **4. Correção dos campos**

Coluna **`id`** (id do acidente):

Nesta coluna os valores nulos viram -1 e alteramos o tipo de dado da coluna para int64

In [23]:
#df["id"].isnull().value_counts()
df["id"].fillna(-1, inplace=True)
df["id"] = df["id"].astype(np.int64)
df["id"].value_counts().head(10)

83524559    67
940375      54
83115311    52
73825       52
397501      51
83071850    50
115917      49
479314      49
120498      49
246908      48
Name: id, dtype: int64

Coluna **`pesid`** (id da pessoa):

Nesta coluna os valores nulos viram -1 e alteramos o tipo de dado da coluna para int64

In [24]:
# df.isnull().value_counts()
df["pesid"].fillna(-1, inplace=True)
df["pesid"] = df["pesid"].astype(np.int64)
df["pesid"].value_counts().head(10)

594689    2
478209    2
531004    2
557944    2
594121    2
456023    2
516074    2
529386    2
561588    2
481111    2
Name: pesid, dtype: int64

Coluna **`id_veiculo`** (id dos veículos):

Aqui normalizamos os campos (null) para número -1, retiramos os espaços em branco, dados com valores 'Na' viraram -1 e o tipo de dado da coluna foi alterado para int64

In [25]:
df["id_veiculo"] = df["id_veiculo"].replace('(null)', np.nan)
df["id_veiculo"].fillna(-1, inplace=True)
df["id_veiculo"] = df["id_veiculo"].astype(np.int64)
df["id_veiculo"].value_counts().head(10)

-1           3126
 19177325      67
 2589726       53
 131185        51
 707189        50
 18395315      49
 847849        48
 2970439       47
 2251322       47
 440584        47
Name: id_veiculo, dtype: int64

Coluna **`tipo_veiculo`**(tipo de veículos):

Normalizamos os campos (null) para 'Não Informado' e também normalizamos nomes parecidos mas com mesmo significado

In [26]:
df2 = df.copy()

In [27]:
df2['tipo_veiculo'].value_counts()

Automóvel             172156
Caminhão               27628
Motocicletas           24516
Caminhonete            20853
Caminhão-Trator        18634
Camioneta              12513
Ônibus                  9927
Motocicleta             6084
Caminhão-trator         3094
(null)                  2938
Motoneta                2917
Utilitário              2192
Bicicleta               2130
Microônibus             1952
Não identificado         638
Carroça                  355
Trator de rodas          294
Micro-ônibus             244
Charrete                 118
Outros                   105
Semi-Reboque              91
Caminhão-Tanque           90
Semireboque               66
Reboque                   62
Carroça-charrete          57
Bonde / Trem              54
Ciclomotor                33
Não Informado             32
Triciclo                  16
Trator misto              16
Motor-Casa                 8
Trem-bonde                 6
Trator de esteiras         5
Carro-de-mao               5
Quadriciclo                4
Carro de mão               1
Chassi-plataforma          1
Name: tipo_veiculo, dtype: int64

In [28]:
df["tipo_veiculo"] = df["tipo_veiculo"].replace('(null)', np.nan)
df["tipo_veiculo"].fillna("Não informado", inplace=True)
 
correcao_nomes = {
    'Automóvel': 'Automóvel', 
    'Camioneta' : 'Camioneta',
    'Caminhão': 'Caminhão',
    'Caminhonete': 'Caminhonete',  
    'Micro-ônibus': 'Microônibus',
    'Trator de esteiras': 'Trator de esteira',
    'Semireboque': 'Semirreboque',
    'Semi-Reboque': 'Semirreboque',
    'Carro-de-mao': 'Carro de mão', 
    'Trator de esteiras': 'Trator',
    'Trator de esteira': 'Trator', 
    'Trator de rodas': 'Trator', 
    'Trator misto': 'Trator',
    'Não identificado': 'Não Informado',
    'Motocicletas': 'Motocicletas',
    'Ônibus': 'Ônibus',
    'Caminhão-Trator': 'Caminhão',
    'Motoneta': 'Motoneta', 
    'Bicicleta': 'Bicicleta', 
    'Reboque': 'Reboque', 
    'Carroça': 'Carroça',
    'Utilitário': 'Utilitário',
    'Caminhão-Tanque': 'Caminhão', 
    'Charrete': 'Charrete',
    'Ciclomotor': 'Ciclomotor',
    'Bonde / Trem': 'Bonde / Trem',
    'Triciclo': 'Triciclo',
    'Quadriciclo': 'Quadriciclo', 
    'Side-car': 'Side-car',
    'Motor-Casa': 'Motor-Casa',
    'Motocicleta': 'Motocicleta',
    'Carroça-charrete': 'Carroça-charrete',
    'Outros': 'Outros',
    'Chassi-plataforma': 'Chassi-plataforma',
}


df["tipo_veiculo"] = df["tipo_veiculo"].replace(correcao_nomes)

#df['tipo_veiculo'].unique()
df.tipo_veiculo.value_counts()

Automóvel          172156
Caminhão            46352
Motocicletas        24516
Caminhonete         20853
Camioneta           12513
Ônibus               9927
Motocicleta          6084
Não informado        3168
Caminhão-trator      3094
Motoneta             2917
Name: tipo_veiculo, dtype: int64

In [31]:
#df['tipo_veiculo'].unique()
df.tipo_veiculo.value_counts()

Automóvel            172156
Caminhão              46352
Motocicletas          24516
Caminhonete           20853
Camioneta             12513
Ônibus                 9927
Motocicleta            6084
Não informado          3168
Caminhão-trator        3094
Motoneta               2917
Microônibus            2196
Utilitário             2192
Bicicleta              2130
Não Informado           670
Carroça                 355
Trator                  315
Semirreboque            157
Charrete                118
Outros                  105
Reboque                  62
Carroça-charrete         57
Bonde / Trem             54
Ciclomotor               33
Triciclo                 16
Motor-Casa                8
Carro de mão              6
Trem-bonde                6
Quadriciclo               4
Chassi-plataforma         1
Name: tipo_veiculo, dtype: int64

In [ ]:
df['']

Coluna **`marca`**(marca e modelo dos veículos):

**falta paralelizar e colocar mais strings para corrigir**

Normalizamos os campos (null) para 'Não Informado', normalizamos nomes parecidos dos fabricantes mas com mesmo significado para nomes padrão, retiramos espaços em branco no inicio e final das palavras

In [30]:
inicio = time.time()

seri = pd.Series(df["marca"])
seri = seri.str.strip()
df["marca"] = seri
df["marca"] = df["marca"].replace('(null)', np.nan)
df["marca"].fillna("Não informado", inplace=True)

strArrumar = ['I/ALFA ROMEO','I/ALFA ROMEU','I/AUDI','IMP/AUDI','I/BASHAN','I/BENELLI','I/BENZHOU','IMP/BMW','I/BMW',
           'IMP/GM','I/CHEVROLET','CHEV/','GM/','I/GM','I/CHEV','IMP/CITROEN','IMP/CETROEN','I/CITROEN',
           'CITROE/','IMP/CHRYSLER','I/CHRYSLER','IMP/DAIHATSU','CHRY/DODGE','I/DODGE','I/FIAT','IMP/FIAT',
           'IMP/FORD','M.A./FORD','I/FORD','H.DAVIDSON/','I/H DAVIDSON','I/RAM','I/HARLEY DAVIDSON','HARLEY DAVIDSON/',
           'REB/FORTCAR','I/HUARI','I/H.DAVIDSON','H/HONDA','I/HONDA','IMP/HONDA','HTA/HONDA','I/HYUNDAI',
           'HYUNDA/','IMP/HYUNDAI','I/IVECO','IMP/IVECOFIAT','I/JAGUAR','I/JAC','IMP/KAWAZAKI','AVA/KAWASAKI',
           'I/KAWASAKI','I/KIA','IMP/KIA','I/M.BENZ','MBENZ/','M.BENZ/','M.B./','I/MERCEDES',
           'IMP/MBENZ','IMP/M.BENZ','I/MB' ,'I/MBENZ','I/L.ROVER','IMP/LAND ROVER','I/LR',
           'IMP/ GM','IMP/CHEVROLET','I/CHANGHE','MMC/','I/MMC','IMP/MMC',
           'IMP/IVECO','MA/MASSEY','I/YINGANG','I/NISSAN','IMP/NISSAN','I/OPEL','I/PEUGEOT','IMP/PEUGEOT',
           'I/PORSCHE','I/RENAULT','IMP/RENAULT','I/SCANIA','IMP/SCANIA','I/SUZUKI','JTA/SUZUKI','IMP/SUZUKI',
           'I/SHAANXI','I/SHINERAY','I/TOYOTA','IMP/TOYOTA','I/TRAXX','IMP/VW','VW/','I/VW','I/VOLVO','IMP/VOLVO',
           'IMP/YAMAHA','I/YAMAHA','I/BRP','I/BUELL','I/BYD','I/CHACOMER','I/CHANGAN','I/CHARMING',
           'I/CHERY''I/DAF','I/DAJIANG','I/DAYANG','I/DAYUN','I/DUCATI','I/FERRARI','I/FOTON','I/FYM','I/HAFEI','I/JEEP',
           'I/MAN','I/MINI COOPER','I/DACIA RENAULT','I/LEOPARD','I/CTM GREEN SPORT','I/WUYANG','I/LIFAN','IMP/DAEWOO',
           'IMP/ASIA','I/SSANGYONG','I/SEAT','I/SINOTRUK','I/SUBARU','I/LIFAN','I/WUYANG','I/JIALING']


strNorm = ['ALFA ROMEO/','ALFA ROMEO/','AUDI/','AUDI/','BASHAN/','BENELLI/','BENZHOU/','BMW/','BMW/',
         'CHEVROLET/','CHEVROLET/','CHEVROLET/','CHEVROLET/','CHEVROLET/','CHEVROLET/','CITROEN/','CITROEN/','CITROEN/',
         'CITROEN/','CHRYSLER/','CHRYSLER/','DAIHATSU/','DODGE/','DODGE/','FIAT/','FIAT/',
         'FORD/','FORD/','FORD/','HARLEY DAVIDSON/','HARLEY DAVIDSON/','DODGE/','HARLEY DAVIDSON/',
         'FORTCAR/','HUARI/','HARLEY DAVIDSON/','HONDA/','HONDA/','HONDA/','HONDA/','HYUNDAI/',
         'HYUNDAI/','HYUNDAI/','IVECO/','IVECO/','JAGUAR/','JAC/','KAWASAKI/','KAWASAKI/',
         'KAWASAKI','KIA/','KIA/','MERCEDES-BENZ/','MERCEDES-BENZ/','MERCEDES-BENZ/','MERCEDES-BENZ/','MERCEDES-BENZ/',
         'MERCEDES-BENZ/','MERCEDES-BENZ/','MERCEDES-BENZ/','MERCEDES-BENZ/','LAND ROVER/','LAND ROVER/','LAND ROVER/',
         'CHEVROLET/','CHEVROLET/','CHANGHE/','MITSUBISHI MOTORS/','MITSUBISHI MOTORS/','MITSUBISHI MOTORS/',
         'IVECO/','MASSEY FERGUSON/','NAZAXX/','NISSAN/','NISSAN/','OPEL/','PEUGEOT/','PEUGEOT/',
         'PORSCHE/','RENAULT/','RENAULT/','SCANIA/','SCANIA/','SUZUKI/','SUZUKI/','SUZUKI/',
         'SHAANXI/','SHINERAY/','TOYOTA/','TOYOTA/','TRAXX/','VOLKSWAGEN/','VOLKSWAGEN/','VOLKSWAGEN/','VOLVO/','VOLVO/',
         'YAMAHA/','YAMAHA/','BRP/','BUELL/','BYD/','CHACOMER/','CHANGAN/','CHARMING/',
         'CHERY/','DAF/','DAJIANG/','DAYANG/','DAYUN/','DUCATI/','FERRARI/','FOTON/','FYM/','HAFEI/','JEEP/',
         'MAN/','BMW/','RENAULT/','LEOPARD/','GREEN SPORT/','WUYANG/','LIFAN/','DAEWOO/',
         'ASIA/','SSANGYONG/','SEAT/','SINOTRUK/','SUBARU/','LIFAN/','WUYANG/','JIALING/']

df['marca'] = df['marca'].replace(dict(zip(strArrumar, strNorm)))
  
fim= time.time()
print('tempo de execução:',((fim - inicio)/60),'minutos')
df['marca'].value_counts()

tempo de execução: 0.03668990929921468 minutos

Não informado              36345
VW/GOL 1.0                  4853
GM/CORSA WIND               2818
HONDA/CG 150 TITAN KS       2400
FORD/FIESTA                 1821
                           ...
I/CHERY FACE 1.3 FLEX          1
FIAT/STRADA 1.5 CE             1
FORD/F250 TRV TROPCAMPO        1
SCANIA/T114LA4X2NA 380         1
KIA/BESTA SV                   1
Name: marca, Length: 7951, dtype: int64

Coluna **`ano_fabricacao_veiculo`**(ano de fabricação dos veículos):

Nesta coluna normalizamos os campos (null) para 'Na', normalizamos nomes em branco para valor '0', retiramos os espaços em branco no inicio e final das palavras, transformamos o tipo de dado desta coluna para int32 e também os valores maiores que 2020 foram setados como 0(zero).

In [ ]:
seri= pd.Series(df["ano_fabricacao_veiculo"])
seri= seri.str.strip()
df["ano_fabricacao_veiculo"]= seri

df["ano_fabricacao_veiculo"] = df["ano_fabricacao_veiculo"].replace('(null)', np.nan)
df["ano_fabricacao_veiculo"] = df["ano_fabricacao_veiculo"].replace('', '0')
df["ano_fabricacao_veiculo"].fillna('0', inplace=True)

df["ano_fabricacao_veiculo"]= df["ano_fabricacao_veiculo"].astype(np.int32)
df["ano_fabricacao_veiculo"][df["ano_fabricacao_veiculo"] > 2020 ]= 0
df["ano_fabricacao_veiculo"].value_counts().head(10)

Coluna **`tipo_envolvido`**(quem se envolveu no acidente):

Nesta coluna retiramos espaços em branco no inicio e final das palavras

In [ ]:
seri= pd.Series(df["tipo_envolvido"])
seri= seri.str.strip()
df["tipo_envolvido"]= seri

df["tipo_envolvido"].value_counts()

Coluna **`estado_fisico`**(estado físico da pessoa envolvida):

Normalizamos os nomes parecidos mas com mesmo significado, alteramos os valores (null) para 'Ileso', limpamos os espcaços em branco no inicio e fim das palavras

In [ ]:
seri= pd.Series(df["estado_fisico"])
seri= seri.str.strip()
df["estado_fisico"]= seri

df["estado_fisico"] = df["estado_fisico"].replace('(null)', np.nan)
df["estado_fisico"].fillna('Ileso', inplace=True)
df["estado_fisico"]= df["estado_fisico"].str.replace('Lesões Leves','Ferido Leve')
df["estado_fisico"]= df["estado_fisico"].str.replace('Lesões Graves','Ferido Grave')
df["estado_fisico"]= df["estado_fisico"].str.replace('Morto','Óbito')
df["estado_fisico"]= df["estado_fisico"].str.replace('Ignorado','Ileso')
df["estado_fisico"]= df["estado_fisico"].str.replace('Não Informado','Ileso')

df["estado_fisico"].value_counts()

Coluna **`idade`**(idade da pessoa):

Nesta coluna normalizamos valores nulos para -1, alteramos o tipo de dado para int32, alteramos os valores com idade acima de 100 anos para o valor -1 e valores maiores que 1000 normalizamos pra 2020-idade

In [ ]:
df["idade"].fillna(-1, inplace=True)
df["idade"]= df["idade"].astype(np.int32)
df["idade"][df["idade"] > 1000]= (2020-(df["idade"][df["idade"]>1000])) 
df["idade"][df["idade"] > 100]= -1
df["idade"].value_counts().head(10)

Coluna **`sexo`**(sexo da pessoa): 

Nesta coluna limpamos os espaços em branco no inicio e fim das palavras e normalizamos os nomes parecidos mas com mesmo significado

In [ ]:
seri = pd.Series(df["sexo"])
seri = seri.str.strip()
df["sexo"] = seri


correcao_sexo = {'F': 'Feminino', 
                 'M': 'Masculino', 
                 'I': 'Não informado',
                 'Ignorado': 'Não informado',
                 'Inválido': 'Não informado', 
                 'Masculino': 'Masculino',
                 'Feminino': 'Feminino',
                 'Não Informado': 'Não informado',
                }

df["sexo"] = df["sexo"].fillna('Inválido').map(correcao_sexo)
df["sexo"].value_counts()

In [ ]:
df.to_csv('pessoas.csv')