**Importação das Bibliotecas**

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# **1. Análise exploratória**

###  **Carregamento dos Arquivos:**

**OBS:** Os DataFrame df\_pessoas\_'ano' são DataFrames de complemento para os dados dos DataFrames df\_ocorrencia\_'ano'

- **Base de dados por pessoas:**

In [2]:
cols = ['id','pesid', 'id_veiculo', 'tipo_veiculo', 'marca', 'ano_fabricacao_veiculo', 'tipo_envolvido', 'estado_fisico', 'idade', 'sexo']

df_pessoas_2007 = pd.read_csv('archive/por_pessoas/acidentes2007.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2008 = pd.read_csv('archive/por_pessoas/acidentes2008.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2009 = pd.read_csv('archive/por_pessoas/acidentes2009.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2010 = pd.read_csv('archive/por_pessoas/acidentes2010.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2011 = pd.read_csv('archive/por_pessoas/acidentes2011.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2012 = pd.read_csv('archive/por_pessoas/acidentes2012.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2013 = pd.read_csv('archive/por_pessoas/acidentes2013.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2014 = pd.read_csv('archive/por_pessoas/acidentes2014.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2015 = pd.read_csv('archive/por_pessoas/acidentes2015.csv', sep=',', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2016 = pd.read_csv('archive/por_pessoas/acidentes2016.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2017 = pd.read_csv('archive/por_pessoas/acidentes2017.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2018 = pd.read_csv('archive/por_pessoas/acidentes2018.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2019 = pd.read_csv('archive/por_pessoas/acidentes2019.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)
df_pessoas_2020 = pd.read_csv('archive/por_pessoas/acidentes2020.csv', sep=';', engine='python', encoding='latin-1', usecols=cols)

- **Cabeçalho**

Visualizar os 10 primeiros registros do conjunto de dados

In [3]:
df_pessoas_2007.head(10)

,id,pesid,id_veiculo,tipo_veiculo,marca,ano_fabricacao_veiculo,tipo_envolvido,estado_fisico,idade,sexo
0,10,647938,439395,Automóvel,GM/CLASSIC LIFE,2005,Condutor,Ileso,23.0,Masculino
1,10,647938,439395,Automóvel,GM/CLASSIC LIFE,2005,Condutor,Ileso,23.0,Masculino
2,10,648468,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,44.0,Masculino
3,10,648468,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,44.0,Masculino
4,10,648470,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,10.0,Feminino
5,10,648470,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,10.0,Feminino
6,10,648471,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,39.0,Masculino
7,10,648471,439395,Automóvel,GM/CLASSIC LIFE,2005,Passageiro,Ferido Leve,39.0,Masculino
8,10,2068191,1204697,Automóvel,FIAT/UNO MILLE FIRE FLEX,2008,Condutor,Ileso,NaN,NaN
9,10,2068191,1204697,Automóvel,FIAT/UNO MILLE FIRE FLEX,2008,Condutor,Ileso,NaN,NaN

### **2. Limpezas e Normalização dos DataFrames**

- **Adicionar coluna ```ano``` em todos os dataframes:**

In [4]:
df_pessoas_2007['ano'] = 2007
df_pessoas_2008['ano'] = 2008
df_pessoas_2009['ano'] = 2009
df_pessoas_2010['ano'] = 2010
df_pessoas_2011['ano'] = 2011
df_pessoas_2012['ano'] = 2012
df_pessoas_2013['ano'] = 2013
df_pessoas_2014['ano'] = 2014
df_pessoas_2015['ano'] = 2015
df_pessoas_2016['ano'] = 2016
df_pessoas_2017['ano'] = 2017
df_pessoas_2018['ano'] = 2018
df_pessoas_2019['ano'] = 2019
df_pessoas_2020['ano'] = 2020

- **Concatenar todos os dataframes**

In [5]:
df = pd.concat([df_pessoas_2007,df_pessoas_2008,df_pessoas_2009,df_pessoas_2010,df_pessoas_2011,
                              df_pessoas_2012,df_pessoas_2013,df_pessoas_2014,df_pessoas_2015,df_pessoas_2016,
                              df_pessoas_2017,df_pessoas_2018,df_pessoas_2019,df_pessoas_2020], sort = False)

- **Tipos de dados:**

Visualizar as colunas e os respectivos tipos de dados que elas estão classificadas

In [6]:
df.dtypes

id                        float64
pesid                     float64
id_veiculo                 object
tipo_veiculo               object
marca                      object
ano_fabricacao_veiculo     object
tipo_envolvido             object
estado_fisico              object
idade                     float64
sexo                       object
ano                         int64
dtype: object

- **Quantidade de linhas e colunas**

In [7]:
print(f"{df.shape[0]} linhas e {df.shape[1]} colunas.")

4005281 linhas e 11 colunas.

- **Eliminar linhas duplicadas do dataframe:**

In [8]:
df.drop_duplicates(subset=cols, keep='first', inplace=True)

In [9]:
print(f"Após a remoção dos registros duplicados: {df.shape[0]} linhas e {df.shape[1]} colunas.")

Após a remoção dos registros duplicados: 4005209 linhas e 11 colunas.

- **_missing_ values**

In [10]:
# Porcentagem de valores faltantes
(df.isnull().sum()/df.shape[0]).sort_values()

id                        0.000000e+00
tipo_envolvido            0.000000e+00
ano                       0.000000e+00
estado_fisico             7.490246e-07
pesid                     9.986994e-07
sexo                      2.274538e-04
id_veiculo                9.984498e-04
tipo_veiculo              9.991988e-04
ano_fabricacao_veiculo    1.292592e-02
marca                     1.625134e-02
idade                     2.471432e-02
dtype: float64

- **Eliminar linhas com todos os valores incompletos ou nulos:**

In [11]:
df.dropna(how='all', inplace=True)

In [12]:
print(f"Após a remoção dos registros nulos: {df.shape[0]} linhas e {df.shape[1]} colunas.")

Após a remoção dos registros nulos: 4005209 linhas e 11 colunas.

- **Reindexar os registros, por conta da remoção das duplicatas**

In [13]:
df.reset_index(inplace=True)

- **Completar com outros valores as colunas com valores nulos ou incompletos**

Vamos nos atentar apenas para a idade. As demais colunas não são passiveis de correção.

In [14]:
df['idade'].fillna(df['idade'].mean(), inplace=True)

### **3. Visualização dos valores possíveis**

Vamos verificar os valores das variáveis categóricas:

- `tipo_envolvido`
- `estado_fisico`
- `tipo_veiculo`
- `marca`
- `sexo`

e algumas visualizações sobre tendências nas variáveis numéricas como:
- `ano_fabricacao_veiculo` 
- `idade`

In [15]:
df['tipo_envolvido'].unique()

array(['Condutor', 'Passageiro', 'Autor', 'Pedestre', 'Vítima',
       'Cavaleiro', 'Ciclista', 'Proprietário de Carga',
       'Proprietário da CNH', 'Testemunha', 'Não Informado'], dtype=object)

In [16]:
df['estado_fisico'].unique()

array(['Ileso       ', 'Ferido Leve ', 'Ferido Grave', 'Morto       ',
       'Ignorado    ', '(null)', 'Morto', 'Ileso', 'Ferido Leve',
       'Ignorado', nan, 'Lesões Graves', 'Lesões Leves', 'Óbito',
       'Não Informado'], dtype=object)

In [17]:
df['tipo_veiculo'].unique()

array(['Automóvel', 'Camioneta', '(null)', 'Caminhão', 'Caminhonete',
       'Motocicletas', 'Ônibus', 'Não identificado', 'Microônibus',
       'Caminhão-Trator', 'Motoneta', 'Bicicleta', 'Reboque', 'Carroça',
       'Utilitário', 'Semi-Reboque', 'Caminhão-Tanque', 'Charrete',
       'Trator de esteiras', 'Trator de rodas', 'Trator misto',
       'Carro-de-mao', 'Ciclomotor', 'Bonde / Trem', 'Triciclo',
       'Quadriciclo', 'Side-car', 'Motor-Casa', nan, 'Motocicleta',
       'Caminhão-trator', 'Carroça-charrete', 'Semireboque',
       'Micro-ônibus', 'Outros', 'Não Informado', 'Carro de mão',
       'Trem-bonde', 'Chassi-plataforma', 'Trator de esteira'],
      dtype=object)

In [18]:
df['marca'].unique()

array(['GM/CLASSIC LIFE', 'FIAT/UNO MILLE FIRE FLEX',
       'VW/SAVEIRO GL 1.8                                 ', ...,
       'MMC/OUTLANDER SPT HPEAWD', 'GM/CHEVROLET C1503',
       'CHEV/ONIX PLUS 10MT LT2'], dtype=object)

In [19]:
df['sexo'].unique()

array(['Masculino', 'Feminino', nan, 'Não Informado', 'Inválido', 'M',
       'F', 'I', 'Ignorado'], dtype=object)

- **Análise dos valores**

OK, para o `tipo_envolvido` temos os valores: 
* "Condutor", 
* "Passageiro", 
* "Pedestre", 
* "Testemunha", 
* "Cavaleiro", 
* "Vítima", 
* "Autor", 
* "Ciclista", 
* "Não Informado", 
* "Proprietário de Carga" 
* "Proprietário da CNH". 

Todos os valores estão limpos e não são duplicados.

`estado_fisico` possui os valores: 'Ileso       ', 'Ferido Leve ', 'Ferido Grave', 'Morto       ', 'Ignorado    ', '(null)', 'Morto', 'Ileso', 'Ferido Leve', 'Ignorado', nan, 'Lesões Graves', 'Lesões Leves', 'Óbito', 'Não Informado'. Podemos observar alguns espaços em branco que discretizam valores, porém são duplicados, e também há erro sobre os valores nulos '(null)' que devem ser descartados. E valores sinônimos, como Ferido ou Lesões, e óbito e morte. Portanto, os valores únicos reais são: 
* "Ileso", 
* "Ferido Leve", 
* "Ferido Grave", 
* "Óbito", 
* "Ignorado",
* "Não informado"

`tipo_veiculo` possui os valores: 
'Automóvel', 'Camioneta', '(null)', 'Caminhão', 'Caminhonete',
       'Motocicletas', 'Ônibus', 'Não identificado', 'Microônibus',
       'Caminhão-Trator', 'Motoneta', 'Bicicleta', 'Reboque', 'Carroça',
       'Utilitário', 'Semi-Reboque', 'Caminhão-Tanque', 'Charrete',
       'Trator de esteiras', 'Trator de rodas', 'Trator misto',
       'Carro-de-mao', 'Ciclomotor', 'Bonde / Trem', 'Triciclo',
       'Quadriciclo', 'Side-car', 'Motor-Casa', nan, 'Motocicleta',
       'Caminhão-trator', 'Carroça-charrete', 'Semireboque',
       'Micro-ônibus', 'Outros', 'Não Informado', 'Carro de mão',
       'Trem-bonde', 'Chassi-plataforma', 'Trator de esteira'. Possui o valor '(null)' que deve ser removido, e alguns valores equivalentes, como "Carro-de-mao' e 'Carro de mão'; Todos os tratores para "Trator"; "Semi-reboque" e "Semireboque"; "Micro-ônibus" e "Microonibus".
       
Os valores únicos reais são:
* "Automóvel",
* "Camioneta",
* "Caminhonete", (esses dois parecem ambíguos mas são distintos)
* "Motocicletas",
* "Ônibus",
* "Microônibus",
* "Caminhão-Trator",
* "Motoneta",
* "Bicicleta",
* "Reboque",
* "Carroça",
* "Utilitário",
* "Semi-reboque",
* "Caminhão-Tanque",
* "Charrete",
* "Trator"
* "Carro de mao",
* "Ciclomotor",
* "Bonde / Trem", 
* "Triciclo",
* "Quadriciclo", 
* "Side-car", 
* "Motor-Casa", 
* "Motocicleta",
* "Caminhão-trator",
* "Carroça-charrete",
* "Outros",
* "Não Informado",
* "Trem-bonde",
* "Chassi-plataforma"

`marca` possui um padrão de "marca" / "modelo do veículo".

`sexo` compreende os valores: 'Masculino', 'Feminino', nan, 'Não Informado', 'Inválido', 'M', 'F', 'I', 'Ignorado'. Porém esses valores são abreviações. Portanto, os valores reais e utilizados são:

* "Masculino",
* "Feminino",
* "Não Informado",
* "Inválido"

- **Correção dos campos**

coluna `pesid` (id da pessoa):

valores nulos viram -1 e alterar o tipo de dado da coluna para int64

In [20]:
#coluna `pesid` (id da pessoa):

#valores nulos viraram -1 e foi alterado o tipo de dado da coluna para int64
# df.isnull().value_counts()
df["pesid"].fillna(-1, inplace=True)
df["pesid"] = df["pesid"].astype(np.int64)
#dataframe_pessoa.pesid.value_counts()

coluna `id_veiculo` (id dos veículos):

normalizado os campos (null) para número -1, retirado espaços em branco, dados 'Na' viraram -1,

In [21]:
#coluna 'id_veiculo'(id dos veículos):

#normalizado os campos (null) para número -1, retirado espaços em branco, dados 'Na' viraram -1, 
#tipo de dado da coluna alterado para int64
df["id_veiculo"] = df["id_veiculo"].replace('(null)', np.nan)
df["id_veiculo"].fillna(-1, inplace=True)
df["id_veiculo"] = df["id_veiculo"].astype(np.int64)

In [24]:
#coluna 'tipo_veiculo'(tipo de veículos):

df["tipo_veiculo"] = df["tipo_veiculo"].replace('(null)', np.nan)
df["tipo_veiculo"].fillna("Não informado", inplace=True)

correcao_nomes = {
    'Automóvel': 'Automóvel', 
    'Camioneta' : 'Camioneta',
    'Caminhão': 'Caminhão',
    'Caminhonete': 'Caminhonete',  
    'Micro-ônibus': 'Microônibus',
    'Trator de esteiras': 'Trator de esteira',
    'Semireboque': 'Semirreboque',
    'Semi-Reboque': 'Semirreboque',
    'Carro-de-mao': 'Carro de mão', 
    'Trator de esteiras': 'Trator',
    'Trator de esteira': 'Trator', 
    'Trator de rodas': 'Trator', 
    'Trator misto': 'Trator',
    'Não identificado': 'Não Informado',
    'Motocicletas': 'Motocicletas',
    'Ônibus': 'Ônibus',
    'Caminhão-Trator': 'Caminhão-Trator',
    'Motoneta': 'Motoneta', 
    'Bicicleta': 'Bicicleta', 
    'Reboque': 'Reboque', 
    'Carroça': 'Carroça',
    'Utilitário': 'Utilitário',
    'Caminhão-Tanque': 'Caminhão-Tanque', 
    'Charrete': 'Charrete',
    'Ciclomotor': 'Ciclomotor',
    'Bonde / Trem': 'Bonde / Trem',
    'Triciclo': 'Triciclo',
    'Quadriciclo': 'Quadriciclo', 
    'Side-car': 'Side-car',
    'Motor-Casa': 'Motor-Casa',
    'Motocicleta': 'Motocicleta',
    'Carroça-charrete': 'Carroça-charrete',
    'Outros': 'Outros',
    'Chassi-plataforma': 'Chassi-plataforma',
    

}

df["tipo_veiculo"] = df["tipo_veiculo"].map(correcao_nomes)
#normalizado os campos(null) para 'Não Informado', alterado nomes parecidos para um só tipo

df['tipo_veiculo'].unique()

array(['Automóvel', 'Camioneta', nan, 'Caminhão', 'Caminhonete',
       'Motocicletas', 'Ônibus', 'Não Informado', 'Caminhão-Trator',
       'Motoneta', 'Bicicleta', 'Reboque', 'Carroça', 'Utilitário',
       'Semirreboque', 'Caminhão-Tanque', 'Charrete', 'Trator',
       'Carro de mão', 'Ciclomotor', 'Bonde / Trem', 'Triciclo',
       'Quadriciclo', 'Side-car', 'Motor-Casa', 'Motocicleta',
       'Carroça-charrete', 'Microônibus', 'Outros', 'Chassi-plataforma'],
      dtype=object)